body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;

}

h2{
    font-size: 40px;
    text-align: center;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    /* padding: 10px; */
    padding: 100px;
}
.half-width{
    width:50% ;
    padding-left: 2%;
    
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: mediumvioletred;
    padding: 10px 40px;
    color: white;
    font: weight 700px; ;
    border-radius: 5px;
}


.photo-album {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    

}
.photo-frame {
    width: 300px;
    height: 480px;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    margin: 15px;
    padding: 10px;
    background-color: whitesmoke;
    /* overflow: hidden; */

}
.full-album{
    padding-left: 150px;
}



.see-more{
    text-align: right;
    text-decoration: none;
    color: mediumvioletred;
    padding-right: 100px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    
}
.font{
    font-family: 'Courgette', cursive;
}

@media (max-width: 700px) {
    .responsive {
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {
    .responsive{
        margin-bottom: 20px;
    }

}
.star{
    color: orange;
}
.rating{
    color: black;
}