body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;

}

h2{
    font-size: 40px;
    text-align: center;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    padding: 10px;
}
.half-width{
    width:50% ;
    padding-left: 2%;
    
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font: weight 700px; ;
    border-radius: 5px;
}


.photo-album {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    

}
.photo-frame {
    width: 300px;
    height: 450px;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    margin: 15px;
    padding: 10px;
    background-color: whitesmoke;
    /* overflow: hidden; */

}
.full-album{
    padding-left: 100px;
}



.see-more{
    text-align: right;
    text-decoration: none;
}